# Puerto del servidor backend
PORT=3000

# Entorno de ejecución (development | production)
NODE_ENV=development

# Ruta absoluta al archivo JSON de credenciales de la cuenta de servicio de Firebase
# Ejemplo en Windows: C:\credenciales\maxicom-firebase-adminsdk.json
FIREBASE_SERVICE_ACCOUNT_PATH=
